<ol class="breadcrumb">
    <li><a ui-sref="main">Inicio</a></li>
    <li>Mantenimiento</li>
    <li><a ui-sref="usersIndex">Usuarios</a></li>
    <li class="active">Nuevo Usuario</li>
</ol>
<h2>Nuevo Usuario</h2>
<form novalidate angular-validator angular-validator-submit="save(user)" name="UserAdd" angular-validator-quiet>
    <div class="form-group">
        <label for="txtUsername">Nombre de usuario</label>
        <input id="txtUsername" class="form-control" type="text" ng-model="user.username"
            name="userUsername" placeholder="Escribe un nombre de usuario" required required-message="'Este campo es requerido'" validate-on="blur" />
    </div>
    <div class="form-group">
        <label for="txtPassword">Contraseña</label>
        <input id="txtPassword" class="form-control" type="password" ng-model="user.password"
            name="userPassword" placeholder="Escribe una contraseña" required required-message="'Este campo es requerido'" validate-on="blur" />
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-link" ui-sref="usersIndex">Volver a la lista de usuarios</a>
            <button class="btn btn-success btn-submit pull-right" type="submit">Guardar Usuario</button>
        </div>
    </div>
</form>