<ol class="breadcrumb">
    <li><a ui-sref="main">Inicio</a></li>
    <li>Mantenimiento</li>
    <li><a ui-sref="actividadesIndex">Actividades</a></li>
    <li class="active">Detalle de Actividad</li>
</ol>
<h2>Detalle de Actividad</h2>
<ul class="nav nav-tabs">
    <li role="presentation" class="active" style="cursor: default;">
        <a data-target="#general" aria-controls="tareas" role="tab" data-toggle="tab">Información General</a>
    </li>
    <li role="presentation" style="cursor: default;">
        <a data-target="#intersecciones" aria-controls="intersecciones" role="tab" data-toggle="tab">Intersecciones</a>
    </li>
    <li role="presentation" style="cursor: default;">
        <a data-target="#historial" aria-controls="historial" role="tab" data-toggle="tab">Historial</a>
    </li>
    <li role="presentation" style="cursor: default;">
        <a data-target="#pendientes" aria-controls="pendientes" role="tab" data-toggle="tab">Tareas Pendientes</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="general">
        <div class="row">
            <div class="col-sm-6">
                <label>Porcentaje de Realización</label>
                <uib-progressbar class="progress-striped" value="actividad.porcentaje">{{ actividad.porcentaje }}%</uib-progressbar>
            </div>
            <div class="col-sm-6">
                <label>Fecha de Registro</label>
                <p>{{ actividad.fecha_registro }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label>Tipo de Actividad</label>
                <p>{{ actividad.actividades_tipo.descripcion }}</p>
            </div>
            <div class="col-sm-4">
                <label>Responsable</label>
                <p>{{ actividad.trabajador.fullName }}</p>
            </div>
            <div class="col-sm-4" ng-if="actividad.estado_id === 1">
                <p>
                    <a class="btn btn-primary" ui-sref="actividadesEdit({actividad_id: actividad.id})">Modificar Actividad</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label>Tareas</label>
                <scrollable-table id="tblTareas" watch="tareas" class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th ng-style="{'width': tableTareas.tareasWs.wId}" sortable-header col="id">ID</th>
                                <th ng-style="{'width': tableTareas.tareasWs.wDescripcion}" sortable-header col="descripcion">Descripción</th>
                                <th ng-style="{'width': tableTareas.tareasWs.wFechaProgramada}" sortable-header col="fechaProgramada">F. Programada</th>
                                <th ng-style="{'width': tableTareas.tareasWs.wInterseccion}" sortable-header col="interseccion">Intersección</th>
                                <th ng-style="{'width': tableTareas.tareasWs.wEstado}" sortable-header col="estado">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-hide="!tableTareas.loading"><td colspan="4">Cargando...</td></tr>
                            <tr ng-show="!tableTareas.loading && tareas.length === 0"><td colspan="4">No hay registros</td></tr>
                            <tr  ng-class="{'success': tarea.estado_id === 3}" ng-hide="tableTareas.loading" ng-repeat="tarea in actividad.tareas" row-id="{{ tarea.id }}">
                                <td>{{ tarea.id }}</td>
                                <td>{{ tarea.descripcion }}</td>
                                <td>{{ tarea.fecha_programada }}</td>
                                <td>{{ tarea.interseccion.descripcion }}</td>
                                <td>
                                    <span ng-if="tarea.estado_id === 3" style="font-weight: bold;">Realizado</span>
                                    <span ng-if="tarea.estado_id === 1">Pendiente</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </scrollable-table>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="intersecciones">
        <div class="col-sm-12">
            <label ng-if="actividad.actividades_intersecciones_detalles.length > 0">Interseciones involucradas</label>
            <label ng-if="actividad.actividades_intersecciones_detalles.length === 0">No hay intersecciones involucradas</label>
            <div ng-show="table.loading && actividad.actividades_intersecciones_detalles.length > 0">Cargando...</div>
            <div ng-show="!table.loading && actividad.actividades_intersecciones_detalles.length > 0"" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{ googleMapsUrl }}">
                <ng-map center="{{ ubicacionLat }}, {{ ubicacionLng }}" zoom="14" style="height: 500px;"
                    zoom-to-include-markers="{{ includeMarkers }}" default-style="false">
                    <info-window id="myInfoWindow">
                        <div ng-non-bindable>
                            <h5>{{ selectedInterseccion.descripcion }}</h5>
                            <p>ID: {{ selectedInterseccion.id }}</p>
                            <p>Código: {{ selectedInterseccion.codigo }}</p>
                            <p>
                            </p>
                        </div>
                    </info-window>
                    <marker ng-repeat="actividades_intersecciones_detalle in actividad.actividades_intersecciones_detalles" position="{{ actividades_intersecciones_detalle.interseccion.latitud }}, {{ actividades_intersecciones_detalle.interseccion.longitud }}"
                        title="" id="" on-click="showInterseccion(event, actividades_intersecciones_detalle.interseccion)" 
                        icon="{ url:'images/marker.png', scaledSize:[20, 33], origin: [0,0] }">
                    </marker>
                </ng-map>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="historial">
        <div class="row">
            <div class="col-sm-12">
                <label>Tareas Realizadas</label>
                <scrollable-table id="tblTareasRealizadas" watch="tareasRealizadas" class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th ng-style="{'width': tableTareasRealizadas.tareasRealizadasWs.wId}" sortable-header col="id">ID</th>
                                <th ng-style="{'width': tableTareasRealizadas.tareasRealizadasWs.wDescripcion}" sortable-header col="descripcion">Descripción</th>
                                <th ng-style="{'width': tableTareasRealizadas.tareasRealizadasWs.wFechaProgramada}" sortable-header col="fechaProgramada">F. Programada</th>
                                <th ng-style="{'width': tableTareasRealizadas.tareasRealizadasWs.wFechaRealizada}" sortable-header col="fechaRealizada">F. Realizada</th>
                                <th ng-style="{'width': tableTareasRealizadas.tareasRealizadasWs.wInterseccion}" sortable-header col="interseccion">Intersección</th>
                                <th ng-style="{'width': tableTareasRealizadas.tareasRealizadasWs.wTrabajadoresInvolucrados}" sortable-header col="trabajadoresInvolucrados">Trabajadores</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-hide="!tableTareasRealizadas.loading"><td colspan="6">Cargando...</td></tr>
                            <tr ng-show="!tableTareasRealizadas.loading && tableTareasRealizadas.length === 0"><td colspan="6">No hay registros</td></tr>
                            <tr class="success" ng-hide="tableTareasRealizadas.loading" ng-repeat="tarea in tareasRealizadas" row-id="{{ tarea.id }}">
                                <td>{{ tarea.id }}</td>
                                <td>{{ tarea.descripcion }}</td>
                                <td>{{ tarea.fecha_programada }}</td>
                                <td>{{ tarea.fecha_realizada }}</td>
                                <td>{{ tarea.interseccion.descripcion }}</td>
                                <td>{{ tarea.trabajadoresInvolucrados }}</td>
                            </tr>
                        </tbody>
                    </table>
                </scrollable-table>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="pendientes">
        <div class="row">
            <div class="col-sm-12">
                <label>Tareas Pendientes</label>
                <scrollable-table id="tblTareasPendientes" watch="tareasPendientes" class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th ng-style="{'width': tableTareasPendientes.tareasPendientesWs.wId}" sortable-header col="id">ID</th>
                                <th ng-style="{'width': tableTareasPendientes.tareasPendientesWs.wDescripcion}" sortable-header col="descripcion">Descripción</th>
                                <th ng-style="{'width': tableTareasPendientes.tareasPendientesWs.wDificultad}" sortable-header col="dificultad">Dificultad</th>
                                <th ng-style="{'width': tableTareasPendientes.tareasPendientesWs.wPrioridad}" sortable-header col="prioridad">Prioridad</th>
                                <th ng-style="{'width': tableTareasPendientes.tareasPendientesWs.wFechaRegistro}" sortable-header col="fechaRegistro">F. Registro</th>
                                <th ng-style="{'width': tableTareasPendientes.tareasPendientesWs.wFechaProgramada}" sortable-header col="fechaProgramada">F. Programada</th>
                                <th ng-style="{'width': tableTareasPendientes.tareasPendientesWs.wInterseccion}" sortable-header col="interseccion">Intersección</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-hide="!tableTareasPendientes.loading"><td colspan="7">Cargando...</td></tr>
                            <tr ng-show="!tableTareasPendientes.loading && tableTareasRealizadas.length === 0"><td colspan="7">No hay registros</td></tr>
                            <tr ng-hide="tableTareasPendientes.loading" ng-repeat="tarea in tareasPendientes" row-id="{{ tarea.id }}">
                                <td>{{ tarea.id }}</td>
                                <td>{{ tarea.descripcion }}</td>
                                <td>{{ tarea.dificultad }}</td>
                                <td>{{ tarea.prioridad }}</td>
                                <td>{{ tarea.fecha_registro }}</td>
                                <td>{{ tarea.fecha_programada }}</td>
                                <td>{{ tarea.interseccion.descripcion }}</td>
                            </tr>
                        </tbody>
                    </table>
                </scrollable-table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <a class="btn btn-link" ui-sref="actividadesIndex">Volver a la lista de actividades</a>
    </div>
</div>